@model ProductVM


<style>

    .product-image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        display: flex;
        align-items: center;
    }

    .image-container {
        flex: 1;
        margin-right: 20px;
        text-align: center;
    }

    .product-details {
        flex: 2;
    }

    .custom-select {
        appearance: none;
        background-color: transparent;
        padding: 0.5rem 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-size: 1rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .custom-select:focus {
            outline: none;
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .custom-select:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
</style>

<form method="post">
    <div class="container mt-4">
        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title">Edit Product</h2>
            </div>
            <input asp-for="Product.Id" hidden />

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 image-container">
                        <img src="@Model.Product.ImageUrl" class="card-img-top img-fluid product-image" alt="Product Image">
                    </div>
                    <div class="col-md-8 product-details">
                        <div class="form-group mb-3">
                            <label for="productName">Product Name</label>
                            <input id="productName" asp-for="Product.Name" name="Product.Name" type="text" class="form-control" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="price">Price (Shekel)</label>
                            <input id="price" asp-for="Product.Price" name="Product.Price" class="form-control" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="quantity">Quantity</label>
                            <input id="quantity" asp-for="Product.Quantity" name="Product.Quantity" class="form-control" />
                            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="img">ImageUrl</label>
                            <input id="img" asp-for="Product.ImageUrl" name="Product.ImageUrl" class="form-control" />
                            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="category">Category</label>
                            <select id="category" asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control custom-select">
                                <option disabled selected>--Select Category--</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="weight">Weight</label>
                            <input id="weight" asp-for="Product.Weight" name="Product.Weight" class="form-control" />
                            <span asp-validation-for="Product.Weight" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input id="Description" asp-for="Product.Description" class="shadow form-control" />
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary btn-block">Go to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}