<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Price شيقل</p>
                            <img src="@product.ImageUrl" class="card-img-top" alt="Product Image">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>